::ng-deep * {
  margin: 0;

  color: white;
}
::ng-deep body {
  background-image: url("/assets/img/weather.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.btn {
  margin-top: 3%;
}
